<amplify-auth-container>

    <amplify-authenticator >
        <amplify-sign-up
            slot="sign-up"
            usernameAlias="username"
            [formFields]="formFields"
        ></amplify-sign-up>
        <div>
            <amplify-sign-out></amplify-sign-out>
            <div *ngIf="user">Hello, {{user.username}}</div>
                <dx-data-grid
                    #listComponent
                    id="listComp"
                    height="75vh"
                    [dataSource]="userList" 
                    [rowAlternationEnabled]="true"
                    [showBorders]="true"
                    (onToolbarPreparing) ="onToolbarPreparing($event)"
                >
                    <dxo-search-panel
                        [visible]="true"
                    ></dxo-search-panel>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxi-column dataField="Username" caption="Username"></dxi-column>
                    <dxi-column dataField="UserStatus" caption="User Status" ></dxi-column>
                    <dxi-column dataField="UserCreateDate" caption="Created Date" dataType="datetime"></dxi-column>
                    <dxi-column dataField="UserLastModifiedDate" caption="Modified Date" dataType="datetime"></dxi-column>

                    <div *dxTemplate="let data of 'addButtonTemplate'">
                        <dx-button 
                            icon="add"
                            type="success"
                            (onClick)="showAddPopUp=true">
                        </dx-button>
                    </div>

                    <div *dxTemplate="let data of 'refreshButtonTemplate'">
                        <dx-button 
                            icon="refresh"
                            type="normal"
                            (onClick)="refresh()">
                        </dx-button>
                    </div>

                </dx-data-grid>
        </div>

        <dx-popup
            [(visible)]="showAddPopUp"
            height="500"
            width="400"
            [closeOnOutsideClick]="false"
            [title]="'Add User'">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view>
                <form action="your-action" (submit)="addUser($event)"> 
                <dx-form id="createForm"
                    [formData]="userDetail"
                    >
                        <dxi-item itemType="group" [colSpan]="3">
                            <dxi-item dataField="username">
                                <dxi-validation-rule 
                                    type="required"
                                    message="Username is required">
                                </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="password">
                                <dxi-validation-rule 
                                    type="required"
                                    message="Password is required">
                                </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="email">
                                <dxi-validation-rule 
                                    type="required"
                                    message="E-mail is required">
                                </dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>                        
                        <dxi-item 
                            itemType="button"
                            horizontalAlignment="left"
                            [buttonOptions]="submitButtonOptions">
                        </dxi-item>
                    
                    </dx-form>
                    </form>
                    <p *ngIf="isToastVisible" style="font-size: medium;color: red;">{{message}}</p>

            </dx-scroll-view>
        </div>
        </dx-popup>
    </amplify-authenticator>
</amplify-auth-container>